<template>
    <component :is="!inline ? 'div' : 'span'" v-html="rendered"/>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";
import "katex/dist/katex.min.css"
import katex from "katex"

export default defineComponent({
  props: {
    inline: Boolean,
    value: String
  },
  setup(props) {
    return {
      inline: props.inline,
      rendered: computed(() => {
        if (props.value) {
          try {
            return katex.renderToString(props.value)
          } catch (e) {
             return "";
          }
        }
      })
    }
  }
});
</script>
