<template>
  <div class="bg-white flex flex-col shadow-md p-4" style="width: 80vw">
    <div class="flex">
      <div class="text-xl mb-3 flex-1">Edição de Item Lexical</div>
      <button @click="$emit('close')">
        <i class="gg-close"></i>
      </button>
    </div>

    <div class="flex">
      <div class="flex flex-col flex-1">
        <div class="flex">
          <label class="block font-bold flex-1">
            Expressão
            <input type="text" class="w-full my-2" v-model="expr"/>
          </label>
          <label class="block font-bold ml-2 flex-1">
            Identificador
            <input type="text" class="w-full my-2" v-model="id"/>
          </label>
          <label class="block font-bold w-24 ml-2">
            Indicador
            <input type="text" class="w-full my-2" v-model="indicator"/>
          </label>
        </div>

        <label class="block font-bold">
          Classe sintática
          <textarea class="w-full my-2" v-model="clsUnparsed"/>
        </label>
        <Katex class="mb-2" :value="clsLatex"/>

        <label class="block font-bold">
          Interpretação semântica
          <textarea class="w-full my-2" v-model="interpUnparsed"/>
        </label>
        <Katex class="mb-2" :value="interpLatex"/>
        <table>
          <thead>
            <tr>
              <th class="text-left">Variável</th>
              <th class="text-left">Metavariável</th>
              <th class="text-left">Tipo</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(attrs, variable) in variableAttrs">
              <td class="text-left">
                <Katex :value="variable.toString()"/>
              </td>
              <td class="text-left">
                <input type="checkbox" v-model="unparsedAllVariableAttrs[variable].meta"/>
              </td>
              <td class="text-left">
                <input type="text" class="w-full" v-model="unparsedAllVariableAttrs[variable].type"/>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <Matrix class="p-2" :value="preview"/>
    </div>
    <div class="flex">
      <span class="flex-1"/>
      <button @click="$emit('update:modelValue', preview), $emit('close')">Aplicar alterações</button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed, watchEffect, watch } from "vue";
import { parse as interpParse } from "./interp-grammar";
import { parse as typeParse } from "./type-grammar";
import { parse as clsParse } from "./cls-grammar";
import { latexInterpType, latexKlass, latexKlassRaw, latexInterpRaw } from "../latex";
import Katex from './Katex.vue'
import Matrix from "./Matrix.vue";
import { checkUsedVariableAttrs, Type } from "../utils";
import { lexes } from "../lex.json";

export default defineComponent({
  components: { Katex, Matrix },
  props: {
    modelValue: null,
  },
  setup(props) {
    const expr = ref("");
    const id = ref("");
    const interpUnparsed = ref("");

    const unparsedAllVariableAttrs = ref({} as {
        [variable: string]: {
            type: string
            meta: boolean
        }
    });

    const interpParsed = computed(() => {
      if (interpUnparsed.value === "") { return null; }
      try {
        return interpParse(interpUnparsed.value, {
          variableAttrs: Object.fromEntries(Object.entries(unparsedAllVariableAttrs.value).map(([key, value]) => {
            try {
              return [key, {
                ..."meta" in value && value.meta && { meta: true },
                type: typeParse(value.type)
              }];
            } catch (e) {
              return [key, {
                type: "?"
              }]
            }
          }))
        });
      } catch (e) {}
      return null;
    });

    const usedVariableAttrs = computed(() => {
      if (interpParsed.value === null) { return null; }
      return checkUsedVariableAttrs(interpParsed.value);
    });

    function typeToString(type: Type): string {
      if (typeof type === "string") { return type; }
      return `[${typeToString(type[0])}, ${typeToString(type[1])}]`
    }

    watchEffect(() => {
      if (usedVariableAttrs.value !== null) {
        Object.entries(usedVariableAttrs.value).forEach(([key, value]) => {
          if (value.type !== "?") {
            unparsedAllVariableAttrs.value[key] = {
                meta: "meta" in value && value.meta,
                type: typeToString(value.type)
            }
          } else if (!(key in unparsedAllVariableAttrs.value)) {
            unparsedAllVariableAttrs.value[key] = {
                meta: false,
                type: "?"
            };
          }
        });
      }
    });

    const clsUnparsed = ref("");
    const clsParsed = computed(() => {
      try {
        return clsParse(clsUnparsed.value);
      } catch (e) {}
      return null;
    });

    const extra = ref({});
    const indicator = ref("");

    watchEffect(() => {
      const lex = props.modelValue;
      clsUnparsed.value = lex.cat?.cls ? latexKlassRaw(lex.cat.cls) : "";
      if (lex.cat?.interp) {
        Object.entries(checkUsedVariableAttrs(lex.cat.interp)).forEach(([key, value]) => {
          unparsedAllVariableAttrs.value[key] = {
              meta: "meta" in value && value.meta,
              type: typeToString(value.type)
          }
        });
      }
      interpUnparsed.value = lex.cat?.interp ? latexInterpRaw(lex.cat.interp) : "";
      expr.value = lex.expr ?? "";
      indicator.value = lex.indicator ?? "L";
      id.value = lex.id ?? "";
    });

    watch(expr, (expr, prevExpr) => {
      if (id.value === prevExpr) {
        id.value = expr;
      }
    });

    return {
      interpUnparsed,
      interpLatex: computed(() => {
        if (interpParsed.value === null) { return ""; }
        return latexInterpType(interpParsed.value);
      }),
      unparsedAllVariableAttrs,
      variableAttrs: computed(() =>
        usedVariableAttrs.value !== null ? Object.fromEntries(Object.entries(usedVariableAttrs.value).map(([key, value]) => [
          key,
          unparsedAllVariableAttrs.value[key]
        ])) : {}),
      clsUnparsed,
      clsLatex: computed(() => {
        if (clsParsed.value === null) { return ""; }
        return latexKlass(clsParsed.value);
      }),
      expr,
      indicator,
      id,
      preview: computed(() => {
        return {
          expr: expr.value,
          cat: {
            cls: clsParsed.value,
            interp: interpParsed.value,
          },
          id: id.value,
          indicator: indicator.value
        }
      })
    }
  }
});
</script>
