<template>
  <details>
    <summary>
      <template v-if="typeof value === 'object' && value.expr && value.cat">
        <Katex inline :value="latexLex(value)"/>
      </template>
      <template v-else-if="typeof value === 'object' && value.cls && value.interp">
        <Katex inline :value="latexCat(value)"/>
      </template>
      <template v-else-if="isInterp(value)">
        <Katex inline :value="latexInterpType(value)"/>
      </template>
      <template v-else-if="isKlass(value)">
        <Katex inline :value="latexKlass(value)"/>
      </template>
    </summary>
    <div class="flex">
    <div class="border border-black relative">
      <div class="absolute border border-black left-0 top-0 w-2 -mt-px"/>
      <div class="absolute border border-black left-0 bottom-0 w-2 -mb-px"/>
    </div>
    <div class="grid p-1 gap-x-6 gap-y-0.5" style="grid-template-columns: repeat(2, max-content)">
      <template v-for="value, key in value">
        <div style="font-family: 'KaTeX_Math'" class="text-xl">
          {{ key }}
        </div>
        <template v-if="key === 'expr'">
          <Katex :value="latexExpr(value)"/>
        </template>
        <template v-else-if="key == 'type'">
          <Katex :value="latexType(value)"/>
        </template>
        <template v-else-if="key === 'value'">
          <Katex :value="`\\textcolor{blue}{${value}}`"/>
        </template>
        <template v-else-if="value === null">
          <Katex value="\\emptyset"/>
        </template>
        <template v-else-if="typeof value === 'object'">
          <Matrix :value="value"/>
        </template>
        <template v-else-if="typeof key === 'string' && ['cls', 'res', 'arg'].includes(key) && typeof value === 'string'">
          <Katex :value="latexKlass(value)"/>
        </template>
        <template v-else>
          <Katex :value="value.toString()"/>
        </template>
      </template>
    </div>
    <div class="border border-black relative">
      <div class="absolute border border-black right-0 top-0 w-2 -mt-px"/>
      <div class="absolute border border-black right-0 bottom-0 w-2 -mb-px"/>
    </div>
    </div>
  </details>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from 'vue'
import Katex from './Katex.vue'
import { latexLex, latexExpr, latexCat, latexInterpType, isInterp, latexInterp, latexType, isKlass, latexKlass } from "../latex";

export default defineComponent({
  components: { Katex },
  props: {
    value: null
  },

  setup(props) {
    return {
      value: computed(() => props.value),
      latexLex,
      latexExpr,
      latexCat,
      latexInterpType,
      latexType,
      latexInterp,
      isKlass,
      latexKlass,
      isInterp
    }
  }
});
</script>
