<template>
  <div class="grid grid-cols-12">
    <nav class="p-2 col-span-3 h-screen flex flex-col shadow-md">
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 transform -translate-y-1/2 z-10" v-if="edited">
        <LexEdit :modelValue="edited" @update:modelValue="updateEdited" @close="edited = null"/>
      </div>
      <div class="flex">
        <h3 class="p-2 font-bold flex-1">Léxico</h3>
        <button class="flex items-center justify-center h-10 bg-yellow-500 p-1" @click="importLexiconActive = true">
          <i class="gg-import mb-0 m-1"/>
          <span class="p-1">Carregar</span>
        </button>
        <button class="flex mx-2 items-center justify-center h-10 bg-yellow-500 p-1" @click="exportLexiconActive = true">
          <i class="gg-export mb-0 m-1"/>
          <span class="p-1">Salvar</span>
        </button>
      </div>
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 transform -translate-y-1/2 z-10" v-if="importLexiconActive">
        <div class="flex flex-col bg-white shadow-md p-4">
          <div class="flex">
            <div class="text-xl mb-3 flex-1">Carregar Léxico</div>
            <button @click="importLexiconActive = false">
              <i class="gg-close"></i>
            </button>
          </div>
          <div class="py-2">
            <label class="flex items-center">
              <input v-model="importLexiconFormat" value="all" type="radio"/>
              <span class="ml-2">Substituir todo o léxico pelo importado</span>
            </label>
            <label class="flex items-center">
              <input v-model="importLexiconFormat" value="changes" type="radio"/>
              <span class="ml-2">Complementar o léxico com o importado</span>
            </label>
            <label class="flex items-center">
              <input v-model="importLexiconFormat" value="lex.json" type="radio"/>
              <span class="ml-2">Substituir pelo léxico padrão</span>
            </label>
            <label class="flex items-center">
              <input v-model="importLexiconFormat" value="morf.json" type="radio"/>
              <span class="ml-2">Substituir pelo léxico de morfologia padrão</span>
            </label>
          </div>
          <div class="flex">
            <div class="flex-1"/>
            <label v-if="importLexiconFormat.endsWith('.json')">
              <button @click="importLexicon">Substituir léxico</button>
            </label>
            <label v-else>
              <input class="p-2 opacity-0" type="file" @change="importLexicon"/>
              Selecionar o arquivo e carregar léxico
            </label>
          </div>
        </div>
      </div>
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 transform -translate-y-1/2 z-10" v-if="exportLexiconActive">
        <div class="flex flex-col bg-white shadow-md p-4" style="width: 80vw; height: 80vh">
          <div class="flex">
            <div class="text-xl mb-3 flex-1">Salvar Léxico</div>
            <button @click="exportLexiconActive = false">
              <i class="gg-close"></i>
            </button>
          </div>
          <div class="py-2">
            <label class="flex items-center">
              <input v-model="exportLexiconFormat" value="all" type="radio"/>
              <span class="ml-2">Salvar todo o léxico</span>
            </label>
            <label class="flex items-center">
              <input v-model="exportLexiconFormat" value="changes" type="radio"/>
              <span class="ml-2">Salvar apenas alterações e itens lexicais novos (comparado ao léxico padrão)</span>
            </label>
          </div>
          <textarea ref="exportTextArea" readonly class="flex-1 font-mono text-xs" :value="exportLexiconData"/>
          <div class="flex">
            <div class="flex-1"/>
            <button class="p-2" @click="copyToClipboard">Copiar para a área de transferência</button>
            <button class="p-2" @click="saveToFile">Salvar em arquivo</button>
          </div>
        </div>
      </div>
      <label class="p-2">
        <input type="text" class="w-full" v-model="searchText"/>
      </label>
      <label class="p-2">
        <input type="checkbox" v-model="showTypes"/>
        Mostrar tipos
      </label>
      <Draggable :list="filteredLexes" group="lex" :sort="false" item-key="id" class="p-2 overflow-auto flex flex-col">
        <template #item="{ element: lex }">
          <div class="w-full flex">
            <button class="p-2 border bg-green-700 text-white" @click="edited = lex" v-if="!('hyp' in lex)">
              <i class="gg-pen"/>
            </button>
            <button class="text-left p-2 border flex-1" @click="insertLex(context, lex)">
              <Katex inline :value="latexLex(lex, showTypes)"/>
            </button>
          </div>
        </template>
      </Draggable>
      <button class="p-2" @click="newLex">
        Novo item lexical
      </button>
    </nav>
    <main class="p-2 col-span-9">
      <div class="flex">
        <h3 class="p-2 font-bold flex-1">Floresta</h3>
        <button class="flex items-center justify-center h-10 bg-yellow-500 mr-2 p-1" @click="importForestActive = true">
          <i class="gg-import mb-0 m-1"/>
          <span class="p-1">Carregar</span>
        </button>
        <button class="flex items-center justify-center h-10 bg-yellow-500 p-1" @click="exportForestActive = true">
          <i class="gg-export mb-0 m-1"/>
          <span class="p-1">Salvar/Exportar</span>
        </button>
      </div>
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 transform -translate-y-1/2 z-10" v-if="exportForestActive">
        <div class="flex flex-col bg-white shadow-md p-4" style="width: 80vw; height: 80vh">
          <div class="flex">
            <div class="text-xl mb-3 flex-1">Salvar/Exportar Floresta</div>
            <button @click="exportForestActive = false">
              <i class="gg-close"></i>
            </button>
          </div>
          <div class="py-2">
            <label class="flex items-center">
              <input v-model="exportForestFormat" value="latex" type="radio"/>
              <span class="ml-2">Exportar LaTeX (utilizando o pacote <a class="underline text-blue-800" download="categorialanalysis.sty" :href="categorialanalysisStyUrl">Categorial Analysis</a>)</span>
            </label>
            <label class="flex items-center">
              <input v-model="exportForestFormat" value="json" type="radio"/>
              <span class="ml-2">Salvar em JSON (para importação posterior)</span>
            </label>
          </div>
          <textarea ref="exportTreeTextArea" readonly class="flex-1 font-mono text-xs" :value="exportForestData"/>
          <div class="flex">
            <div class="flex-1"/>
            <button class="p-2" @click="copyToClipboard">Copiar para a área de transferência</button>
            <button class="p-2" @click="saveForestToFile">Salvar em arquivo</button>
          </div>
        </div>
      </div>
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 transform -translate-y-1/2 z-10" v-if="importForestActive">
        <div class="flex flex-col bg-white shadow-md p-4">
          <div class="flex">
            <div class="text-xl mb-3 flex-1">Carregar Floresta</div>
            <button @click="importForestActive = false">
              <i class="gg-close"></i>
            </button>
          </div>
          <div class="py-2">
            <label class="flex items-center">
              <input value="all" type="radio" checked/>
              <span class="ml-2">Substituir a floresta pelo importado</span>
            </label>
          </div>
          <div class="flex">
            <div class="flex-1"/>
            <label>
              <input class="p-2 opacity-0" type="file" @change="importForest"/>
              Selecionar o arquivo e carregar floresta
            </label>
          </div>
        </div>
      </div>
      <Draggable
        class="flex p-2"
        handle=".handle"
        group="lex"
        item-key="i"
        :list="trees"
        @change="onChange"
      >
        <template #item="{ element: tree }">
          <div class="grid content-start" :style="`grid-template-columns: repeat(${tree.columns}, max-content)`">
            <div class="flex col-span-full h-8">
              <div class="handle flex-1 border bg-gray-400 text-white p-2 flex items-center justify-center">
                <i class="gg-math-equal"/>
              </div>
              <button class="border bg-blue-700 text-white p-2" v-if="tree.tree.const" @click="undoTree(tree.i)">
                <i class="gg-undo"/>
              </button>
              <button class="border mr-8 bg-red-700 text-white p-2" @click="removeTree(tree.i)">
                <i class="gg-trash"/>
              </button>
            </div>
            <template v-for="row in tree.rows">
              <div :style="`grid-column: ${col.start} / ${col.end}`" v-for="col in row">
                <template v-if="'cat' in col.tree">
                  <div class="flex px-1">
                    <div class="w-4">
                      <div v-if="col.level === 0" class="h-5"/>
                      <Katex inline style="font-size: 11px" :value="`${col.tree.id}`"/>
                    </div>
                    <div class="flex flex-1 flex-col items-center" :class="col.level !== 0 && 'pt-3'">
                      <div v-if="col.level === 0" class="p-1 h-8">
                        <Katex v-if="col.tree.expr !== null" :value="`\\text{\\textcolor{brown}{${col.tree.expr}}}`"/>
                      </div>
                      <hr class="w-full border-gray-800"/>
                      <div class="p-1">
                        <Katex v-if="col.tree.hyp" inline value="["/>
                        <Katex inline :value="latexKlass(col.tree.cat.cls)"/>
                        <Katex inline value="~:~"/>
                        <Katex inline :value="latexInterp(col.tree.cat.interp)"/>
                        <Katex v-if="col.tree.hyp" inline :value="`]^{${col.tree.hyp}}`"/>
                      </div>
                    </div>
                    <div class="w-8">
                      <div v-if="col.level === 0" class="h-5"/>
                      <Katex inline class="p-1" v-if="'indicator' in col.tree" style="font-size: 11px" :value="col.tree.indicator"/>
                    </div>
                  </div>
                </template>
              </div>
            </template>
            <div class="flex flex-col col-span-full mr-8">
              <Matrix :value="tree.tree"/>
              <template v-for="suggestion in tree.suggestions">
                <button class="border mr-8 w-full bg-gray-500 text-white p-2" @click="applySuggestion(context, suggestion)">
                <Katex inline :value="`\\text{${suggestion.text}}`"/>
                </button>
              </template>
            </div>
          </div>
        </template>
      </Draggable>
    </main>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, computed, Ref } from 'vue'
import Draggable from "vuedraggable";
import { useStorage } from "vue-composable";
import FileSaver from "file-saver";
import { deepEqual } from "fast-equals";
// @ts-ignore
import categorialanalysisStyUrl from "./categorialanalysis.sty";

import { Suggestion, suggest, applySuggestion } from "./suggestions";
import { Tree, Type, createContext, insertLex } from "./utils";
import { latexInterp, latexKlass, latexLex, latexArrays, latexKlassRaw, latexInterpRaw } from "./latex";
import Matrix from "./components/Matrix.vue";
import Katex from './components/Katex.vue'
import LexEdit from "./components/LexEdit.vue"
import lexJson from "./lex.json";
import morfJson from "./morf.json";
import "./icons.css";

export default defineComponent({
  name: 'App',
  components: { Katex, Draggable, Matrix, LexEdit },
  setup() {
    const lexicon = useStorage("lexicon", JSON.parse(JSON.stringify(lexJson)));
    const searchText = ref("");
    const context = createContext(lexicon.storage as unknown as Ref<{
      lexes: Array<Tree>,
      types: { [klass: string]: Type }
    }>);
    const trees = computed(() => {
      return context.forest.value.map((tree, i, forest) => {
        const byLevel = {} as { [level: number]: Array<{
          level: number;
          start: number;
          span: number;
          tree: Tree;
        }> };
        function generateLevels(tree: Tree): {
          level: number, start: number, span: number
        } {
          if (!tree.const) {
            const level = 0;
            if (!byLevel[level]) { byLevel[level] = []; }
            const span = 1;
            const start = byLevel[level].length;
            byLevel[level].push({ level, start, span, tree });
            return { level, start, span, };
          }
          const returns = tree.const.map(generateLevels);
          const level = Math.max(...returns.map(x => x.level)) + 1;
          const start = returns[0].start;
          const span = returns.reduce((acc, it) => acc + it.span, 0);
          if (!byLevel[level]) { byLevel[level] = []; }
          byLevel[level].push({ level, start, span, tree });
          return { level, start, span };
        }

        generateLevels(tree);

        return {
          i,
          tree,
          suggestions: suggest(context, tree, i),
          rows: Object.values(byLevel).map(cols => cols.map(({ tree, start, span, level }, i) => ({
            tree, start: start+1, end: start+span+1, level, i
          }))),
          columns: Object.values(byLevel).reduce((acc, cols) => Math.max(acc, cols.reduce((acc, { start, span }) => Math.max(acc, start+span), 0)), 0)
        }
      });
    });

    const edited = ref(null as any);
    const exportLexiconFormat = ref("all");
    const exportLexiconData = computed(() => {
      if (exportLexiconFormat.value === "all") {
        return JSON.stringify(lexicon.storage.value, null, '  ')
      } else {
        return JSON.stringify({
          types: {},
          lexes: context.lexes.value.flatMap(l => {
            const oldLexById = Object.fromEntries(lexJson.lexes.map(l => [l.id, l]));
            if (!oldLexById[l.id]) { return [l]; }
            if (!deepEqual(oldLexById[l.id], l)) { return [l]; }
            return [];
          })
        }
        , null, '  ');
      }
    });
    const exportTextArea = ref(null as any);
    const exportForestFormat = ref("latex");
    const exportForestData = computed(() => {
      if (exportForestFormat.value === "latex") {
        return context.forest.value.map((tree) => {
          const byLevel = {} as { [level: number]: Array<{
            level: number;
            start: number;
            span: number;
            tree: Tree;
          }> };
          function generateLevels(tree: Tree): {
            level: number, start: number, span: number
          } {
            if (!tree.const) {
              const level = 0;
              if (!byLevel[level]) { byLevel[level] = []; }
              const span = 1;
              const start = byLevel[level].length;
              byLevel[level].push({ level, start, span, tree });
              return { level, start, span, };
            }
            const returns = tree.const.map(generateLevels);
            const level = Math.max(...returns.map(x => x.level)) + 1;
            const start = returns[0].start;
            const span = returns.reduce((acc, it) => acc + it.span, 0);
            if (!byLevel[level]) { byLevel[level] = []; }
            byLevel[level].push({ level, start, span, tree });
            return { level, start, span };
          }

          generateLevels(tree);

          return byLevel[0].map(({ tree: { expr, cat: { cls, interp } } }) => `\\uselex{${expr}}{${latexKlassRaw(cls)}}{${latexInterpRaw(interp)}}`).join("\n") + "\n" +
            `\\begin{categorialanalysis}\n` +
            Object.entries(byLevel).sort(([x], [y]) => +x - +y).slice(1).map(([, steps]) => {
              const latex = steps.reduce(({ end, latex }, { tree, level, span, start }) => ({
                end: start+span,
                latex: latex.concat(`  \\step{${start-end}}{${span}}{${tree.indicator}}{${latexKlassRaw(tree.cat.cls)}}{${latexInterpRaw(tree.cat.interp)}}`)
              }), {
                latex: [] as Array<string>,
                end: 0
              }).latex;
              return steps.length === 1 ? latex.join("\n") : `  \\begin{steps}\n${latex.map(l => `  ${l}`).join("\n")}\n  \\end{steps}`;
            }).join("\n") +
            `\n\\end{categorialanalysis}`;
        }).join("\n");
      } else {
        return JSON.stringify(context.forest.value, null, '  ');
      }
    });

    const importLexiconActive = ref(false);
    const importLexiconFormat = ref("all");
    const importForestActive = ref(false);

    return {
      latexKlass,
      latexInterp,
      latexLex,
      showTypes: ref(false),
      latexArrays,
      insertLex,
      filteredLexes: computed(() => {
        return context.lexes.value.filter(x => x.expr === null || x.expr.includes(searchText.value));
      }),
      searchText,
      trees,
      context,
      applySuggestion,
      onChange(event: {
        added: {
          element: Tree,
          newIndex: number
        }
      } | {
        moved: {
          newIndex: number,
          oldIndex: number
        }
      }) {
        if ("added" in event && event.added) {
          const { element, newIndex } = event.added;
          insertLex(context, element, newIndex);
        } else if ("moved" in event && event.moved) {
          const { oldIndex, newIndex } = event.moved;
          context.forest.value.splice(newIndex, 0, context.forest.value.splice(oldIndex, 1)[0]);
        }
      },
      undoTree(index: number) {
        context.forest.value.splice(index, 1, ...context.forest.value[index].const ?? []);
      },
      removeTree(index: number) {
        context.forest.value.splice(index, 1);
      },
      edited,
      updateEdited(newValue: any) {
        edited.value = newValue;
        let found = false;
        context.lexes.value = context.lexes.value.map((oldValue) => {
          if (oldValue.id === edited.value.id) {
            found = true;
            return newValue;
          } else {
            return oldValue;
          }
        });
        if (!found) {
          context.lexes.value.push(newValue);
        }
      },
      newLex() {
        edited.value = {};
      },
      importLexiconActive,
      importLexiconFormat,
      exportLexiconActive: ref(false),
      exportLexiconData,
      exportTextArea,
      exportLexiconFormat,
      copyToClipboard() {
        exportTextArea.value.select();
        document.execCommand('copy');
      },
      saveToFile() {
        const blob = new Blob([exportLexiconData.value], {type: "application/json;charset=utf-8"});
        FileSaver.saveAs(blob, "lexicon.json");
      },
      exportForestActive: ref(false),
      exportForestFormat,
      exportForestData,
      categorialanalysisStyUrl,
      saveForestToFile() {
        if (exportForestFormat.value === "latex") {
          const blob = new Blob([exportForestData.value], {type: "application/x-tex;charset=utf-8"});
          FileSaver.saveAs(blob, "forest.tex");
        } else {
          const blob = new Blob([exportForestData.value], {type: "application/json;charset=utf-8"});
          FileSaver.saveAs(blob, "forest.json");
        }
      },
      async importLexicon(event: Event) {
        if (importLexiconFormat.value === "lex.json") {
          lexicon.storage.value = JSON.parse(JSON.stringify(lexJson));
        } else if (importLexiconFormat.value === "morf.json") {
          lexicon.storage.value = JSON.parse(JSON.stringify(morfJson));
        } else {
          if (!(event.target instanceof HTMLInputElement && event.target.files?.length)) {
            return;
          }
          const file = event.target.files[0];
          const text = await file.text();
          const json = JSON.parse(text);
          if (!Array.isArray(json.lexes)) { throw new Error("Invalid format"); }

          if (importLexiconFormat.value === "all") {
            lexicon.storage.value = json;
          } else {
            const lexById = Object.fromEntries(context.lexes.value.map(l => [l.id, l]));
            json.lexes.forEach((lex: any) => {
              lexById[lex.id] = lex;
            });
            context.lexes.value = Object.values(lexById);
          }
        }
        importLexiconActive.value = false;
      },
      importForestActive,
      async importForest(event: Event) {
        if (!(event.target instanceof HTMLInputElement && event.target.files?.length)) {
          return;
        }
        const file = event.target.files[0];
        const text = await file.text();
        const json = JSON.parse(text);
        context.forest.value = json;
        importForestActive.value = false;
      },
    }
  }
})
</script>
