 .gg-trash {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 10px;
 height: 12px;
 border: 2px solid transparent;
 box-shadow:
 0 0 0 2px,
 inset -2px 0 0,
 inset 2px 0 0;
 border-bottom-left-radius: 1px;
 border-bottom-right-radius: 1px;
 margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute
}

.gg-trash::after {
 background: currentColor;
 border-radius: 3px;
 width: 16px;
 height: 2px;
 top: -4px;
 left: -5px
}

.gg-trash::before {
 width: 10px;
 height: 4px;
 border: 2px solid;
 border-bottom: transparent;
 border-top-left-radius: 2px;
 border-top-right-radius: 2px;
 top: -7px;
 left: -2px
} 

 .gg-math-equal {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 16px;
 height: 2px;
 background: currentColor;
 border-radius: 10px;
 margin-top: -6px;
 box-shadow: 0 6px 0
}

 .gg-undo {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 14px;
 height: 14px;
 border: 2px solid;
 border-left-color: transparent;
 border-radius: 100px
}

.gg-undo::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 width: 6px;
 height: 6px;
 border-top: 2px solid;
 border-left: 2px solid;
 top: -3px;
 left: -1px;
 transform: rotate(-68deg)
}

 .gg-close {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 22px;
 height: 22px;
 border: 2px solid transparent;
 border-radius: 40px
}

.gg-close::after,
.gg-close::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 width: 16px;
 height: 2px;
 background: currentColor;
 transform: rotate(45deg);
 border-radius: 5px;
 top: 8px;
 left: 1px
}

.gg-close::after {
 transform: rotate(-45deg)
}

.gg-pen {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: rotate(-45deg) scale(var(--ggs,1));
 width: 14px;
 height: 4px;
 border-right: 2px solid transparent;
 box-shadow:
 0 0 0 2px,
 inset -2px 0 0;
 border-top-right-radius: 1px;
 border-bottom-right-radius: 1px;
 margin-right: -2px
}

.gg-pen::after,
.gg-pen::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute
}

.gg-pen::before {
 background: currentColor;
 border-left: 0;
 right: -6px;
 width: 3px;
 height: 4px;
 border-radius: 1px;
 top: 0
}

.gg-pen::after {
 width: 8px;
 height: 7px;
 border-top: 4px solid transparent;
 border-bottom: 4px solid transparent;
 border-right: 7px solid;
 left: -11px;
 top: -2px
} 

 .gg-math-plus,
.gg-math-plus::after {
 display: block;
 box-sizing: border-box;
 background: currentColor;
 border-radius: 10px
}

.gg-math-plus {
 margin-top: -2px;
 position: relative;
 transform: scale(var(--ggs,1));
 width: 16px;
 height: 2px
}

.gg-math-plus::after {
 content: "";
 position: absolute;
 width: 2px;
 height: 16px;
 top: -7px;
 left: 7px
} 

 .gg-export {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 18px;
 height: 14px;
 border: 2px solid;
 border-top: 0;
 box-shadow:
 -6px -8px 0 -6px,
 6px -8px 0 -6px
}

.gg-export::after,
.gg-export::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute
}

.gg-export::before {
 background: currentColor;
 width: 2px;
 height: 14px;
 right: 6px;
 bottom: 5px
}

.gg-export::after {
 width: 6px;
 height: 6px;
 border-left: 2px solid;
 border-top: 2px solid;
 right: 4px;
 bottom: 14px;
 transform: rotate(45deg)
}

 .gg-import {
 box-sizing: border-box;
 position: relative;
 display: block;
 transform: scale(var(--ggs,1));
 width: 18px;
 height: 14px;
 border: 2px solid;
 border-top: 0;
 box-shadow:
 -6px -8px 0 -6px,
 6px -8px 0 -6px
}

.gg-import::after,
.gg-import::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute
}

.gg-import::before {
 background: currentColor;
 width: 2px;
 height: 14px;
 right: 6px;
 bottom: 5px
}

.gg-import::after {
 width: 6px;
 height: 6px;
 border-right: 2px solid;
 border-bottom: 2px solid;
 right: 4px;
 bottom: 4px;
 transform: rotate(45deg)
}
